<%= form_for(@jean) do |f| %>
  <% if @jean.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@jean.errors.count, "error") %> prohibited this jeans from being saved:</h2>

      <ul>
      <% @jean.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
